* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFD0EC;
}

.container {
    width: 80%;
    min-height: 300px;
    /* border: 2px solid black; */
    margin: auto;
}

.Name {
    width: 100%;
    min-height: 100px;
    /* border: 2px solid black; */
    /* margin: auto; */
    /* margin-top: 10px; */
    background-color: #944E63;
}

.Name h2 {
    color: white;
    padding: 10px;
}

.Menu {
    background-color: #B47B84;
    min-height: 50px;
    padding: 25px;
}

.Menu a {
    text-decoration: none;
    padding: 10px;
    color: #944E63;
}

.Menu a:hover {
    background-color: white;
}

.searchbar {
    width: 160px;
    min-height: 20px;
    /* border: 2px solid black; */
    float: right;
    /* margin-left: 50px; */
    /* margin-right: 60px; */
    /* margin-bottom: 30px; */
}

.searchbar h6 {
    background-color: white;
    font-size: 1em;
    color: lightgray;
    padding: 5px;
}

.Search {
    width: 60px;
    min-height: 20px;
    float: right;
    color: white;
}

.Search h5 {
    background-color: black;
    font-size: 1em;
    color: white;
    padding: 5px;
}

.box1 {
    width: 60%;
    min-height: 200px;
    /* border: 2px solid black; */
    margin: 20px;
    background-color: #CAA6A6;
}

.box1 h2 {
    padding: 10px;
    /* text-align: justify; */
}

.box1 p {
    padding: 10px;
    text-align: justify;
}

.box1 button {
    margin: 10px;
}

.box2 {
    width: 60%;
    min-height: 500px;
    /* border: 2px solid black; */
    margin: 20px;
    background-color: #FFE7E7;
}

.head1 {
    width: 45%;
    min-height: 220px;
    /* border: 2px solid black; */
    margin: 15px;
    float: left;
}

.head2 {
    width: 45%;
    min-height: 220px;
    /* border: 2px solid black; */
    margin: 15px;
    float: right;
}

.head3 {
    width: 45%;
    min-height: 220px;
    /* border: 2px solid black; */
    margin: 15px;
    float: left;
}

.head4 {
    width: 45%;
    min-height: 220px;
    /* border: 2px solid black; */
    margin: 15px;
    float: right;
}

.head1 h3 {
    padding: 5px;
}

.head2 h3 {
    padding: 5px;
}

.head3 h3 {
    padding: 5px;
}

.head4 h3 {
    padding: 5px;
}

.head1 p {
    padding: 10px;
    text-align: justify;
}

.head2 p {
    padding: 10px;
    text-align: justify;
}

.head3 p {
    padding: 10px;
    text-align: justify;
}

.head4 p {
    padding: 10px;
    text-align: justify;
}

.sidebar {
    width: 35%;
    min-height: 740px;
    /* border: 2px solid black; */
    height: 700px;
    float: right;
    margin: 20px;
    background-color: #FFE7E7;
}

.sidebar h2 {
    padding: 10px;
    padding-left: 20px;
}

.sidebar h4 {
    padding: 20px;
    padding-left: 20px;
    /* padding-right: 10px; */
}

.sidebar h5 {
    padding-left: 30px;
    padding-top: 5px;
}

.box4 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: left;
    margin: 20px;
    background-color: #FFF6E9;
}

.box5 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: right;
    margin: 20px;
    background-color: #FFF6E9;
}

.box6 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: left;
    margin: 20px;
    background-color: #FFF6E9;
}

.box7 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: right;
    margin: 20px;
    background-color: #FFF6E9;
}

.box8 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: left;
    margin: 20px;
    background-color: #FFF6E9;
}

.box9 {
    width: 40%;
    min-height: 120px;
    /* border: 2px solid black; */
    float: right;
    margin: 20px;
    background-color: #FFF6E9;
}

.footer {
    width: 100%;
    min-height: 50px;
    /* border: 2px solid black; */
    background-color: #CAA6A6;
}

.footer h5 {
    padding: 15px;
}