* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    margin: 0px 30px 0px 30px;
    border: 5px solid black;
    width: 97%;
    height: 741.5px;
}

.box1 {
    border: 2px solid black;
    height: 500px;
    padding: 10px;
    margin: 20px;
    color: rgb(233, 245, 66);
    font-family: cursive;
    font-size: 50px;
    background-color: rgb(62, 98, 92);
}

.box1 h2 {
    text-align: 100px 100px 100px 100px;
    font-size: medium;
    padding: 10px 0px 500px 100px;
    margin: 0px 500px 100px 100px;
    font-family: 'Courier New', Courier, monospace;
}

.box1 img {
    height: min-content;
    width: min-content;
}

.text::first-letter {
    font-size: 90px;
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.menubar {
    width: 97%;
    height: 35px;
    /* border: 3px solid black; */
    margin: 0px 20px 0px 20px;
}

.menu {
    word-spacing: 348px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(57, 230, 249);
    padding: 0px 5px 0px 5px;
    text-align: center;
    margin: 0px 5px 0px 7px;
}

.menu a {
    text-decoration: none;
    color: rgb(239, 255, 195);
    background-color: rgb(5, 5, 5);
}

.menu a:hover {
    color: rgb(244, 111, 1);
}